<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>TinyStep</title>
</head>
<body>
    <h1>TinySteps</h1>
    <p>Paste your assignment and we'll break it down into tiny steps!</p>
    <textarea id="inputText"></textarea>
    <button id="execute">Break it down</button>

    <div id="progressBar"><div id ="progressFill"></div></div>
    <p id="streak">Streak: 0</p>

    <div id="steps"></div>


<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
