<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">

    <title>TinyStep</title>
</head>
<body>
    <h1>TinyStep</h1>
    <p>Paste your assignment, and we'll break it down into tiny steps!</p>
    <textarea id="inputText"></textarea>
    <button id="execute">Break it down</button>

    <div id="statusBar" class="hidden">
        <div id="progressBar"><div id ="progressFill"></div></div>
        <p id="streak">Streak: 0</p>
    </div>

    <div id="steps"></div>

    <button id="continue" class="hidden">Continue</button>
    <div id="continueSteps"></div>

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>